<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="株式会社Markのコーポレートサイトです。" />
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+JP:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/rest.css">
    <link rel="stylesheet" href="css/news.css">
    <title>株式会社Mark News</title>
</head>

<body>
    <header class="header" id="header">
        <div class="header-wrap">
            <div class="flex">
                <h1 class="logo"><a href="index.html">Mark</a></h1>
                <nav class="nav">
                    <ul class="ul">
                        <li><a href="about.html"><ruby>私たちについて<rp>(</rp>
                                    <rt>About</rt>
                                    <rp>)
                                </ruby></a></li>
                        <li><a href="http://noisy-amami-6173.backdrop.jp/MARKLALY" target="_blank"
                                rel="noopener noreferrer"><ruby>サービス<rp>(</rp>
                                    <rt>Service</rt>
                                    <rp>)
                                </ruby></a></li>
                        <li><a href="news.html"><ruby>ニュース<rp>(</rp>
                                    <rt>News</rt>
                                    <rp>)
                                </ruby></a></li>
                        <li><a href="company.html"><ruby>会社概要<rp>(</rp>
                                    <rt>Company</rt>
                                    <rp>)
                                </ruby></a></li>
                        <li><a href="contact.html"><ruby>お問い合わせ<rp>(</rp>
                                    <rt>Contact</rt>
                                    <rp>)
                                </ruby></a></li>
                    </ul>
                </nav>
                <div class="hamburger" id="js-hamburger">
                    <span class="hambur-line"></span>
                </div>
                <div class="sp-global-menu">
                    <nav class="hamburger-nav">
                        <ul class="hamburger-ul">
                            <li><a href="about.html"><ruby>私たちについて<rp>(</rp>
                                        <rt>About</rt>
                                        <rp>)
                                    </ruby></a></li>
                            <li><a href="http://noisy-amami-6173.backdrop.jp/MARKLALY" target="_blank"
                                    rel="noopener noreferrer"><ruby>サービス<rp>(</rp>
                                        <rt>Service</rt>
                                        <rp>)
                                    </ruby></a></li>
                            <li><a href="news.html"><ruby>ニュース<rp>(</rp>
                                        <rt>News</rt>
                                        <rp>)
                                    </ruby></a></li>
                            <li><a href="company.html"><ruby>会社概要<rp>(</rp>
                                        <rt>Company</rt>
                                        <rp>)
                                    </ruby></a></li>
                            <li><a href="contact.html"><ruby>お問い合わせ<rp>(</rp>
                                        <rt>Contact</rt>
                                        <rp>)
                                    </ruby></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="homeTop" id="homeTop">
        <div class="homeTop-wrap">
            <div class="text">
                <h1>News</h1>
                <p>最新情報</p>
            </div>
            <div class="img">
            </div>
        </div>
    </div>

    <article class="newNews" id="app">
        <div class="newNews-wrap">
            <h2 class="tilte">最新のニュース</h2>
            <div class="selects">
                <div class="selects-item">
                    <label>YEAR</label>
                    <select id="selectYear" v-model:value="yearValue" v-cloak>

                        <option :value="selectYear" v-for="selectYear in selectYears" :key="selectYear" v-cloak>
                            {{selectYear}}
                        </option>
                    </select>
                </div>
                <div class="selects-item">
                    <label>GATEGORY</label>
                    <select id="selectGategory" v-model:value="gategoryValue" v-cloak>

                        <option :value="key" v-for="(value,key) in selectGategorys" :key="key" v-cloak>{{ value }}
                        </option>
                    </select>
                </div>
                <span class="sibori">絞り込み可能</span>
            </div>
            <div class="item-flex">

                <transition name="fade" mode="out-in" v-cloak>
                    <div class="item" v-if="test.year2020 && test.gategoryRelease && test.dataAll" key="item1" v-cloak>
                        <div class="img">
                            <img src="image/Newspapers.png" alt="新聞の画像">
                        </div>
                        <dl>

                            <dt class="time"><time datetime="2020-10-06">2020. 10. 06</time></dt>
                            <dt><span class="pre">プレスリリース</span><span class="NEW">NEW</span></dt>

                            <dd class="text">Mark株式会社の実績が日経に掲載されました</dd>
                        </dl>
                    </div>
                </transition>


                <transition name="fade" mode="out-in" v-cloak>
                    <div class="item" v-if="test.dataAll && test.year2020 && test.gategoryNotice" key="item2" v-cloak>
                        <div class="img">
                            <img src="image/corona.png" alt="コロナの画像">
                        </div>
                        <dl>
                            <dt class="time"><time datetime="2020-08-01">2020.08.01</time></dt>
                            <dt><span class="pre">お知らせ</span></dt>
                            <dd class="text">新型コロナウイルス（COVID-19）感染拡大による 「緊急事態宣言」対する当社の対応方針について</dd>
                        </dl>
                    </div>
                </transition>



                <transition name="fade" mode="out-in" v-cloak>
                    <div class="item" v-if="test.dataAll && test.year2020 && test.gategoryNotice" key="item3" v-cloak>
                        <div class="img">
                            <img src="image/website.png" alt="webサイトの画像">
                        </div>
                        <dl>
                            <dt class="time"><time datetime="2020-04-06">2020.04.06</time></dt>
                            <dt><span class="pre">お知らせ</span></dt>
                            <dd class="text">Webサイトリニューアル</dd>
                        </dl>
                    </div>
                </transition>


                <transition name="fade" mode="out-in" v-cloak>
                    <div class="item" v-if="test.dataAll && test.year2019 && test.gategoryRelease" key="item4" v-cloak>
                        <div class="img">
                            <img src="image/cm.png" alt="CMの画像">
                        </div>
                        <dl>
                            <dt class="time"><time datetime="2019-02-01">2019.02.01</time></dt>
                            <dt><span class="pre">プレスリリース</span></dt>
                            <dd class="text">MarkのCMがスタートしました</dd>
                        </dl>
                    </div>
                </transition>

            </div>

        </div>
    </article>

    <section class="conatactFtr">
        <div class="conatactFtr-wrap">
            <div class="conatactFtr-flex">
                <h2>エンジニア転職のことは<br>
                    Mackにお任せください</h2>
                <a href="contact.html" class="contactbtn">Contact</a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-wrap">
            <nav>
                <ul>
                    <div class="flex-t">
                        <li><a href="about.html">About</a></li>
                        <li><a href="http://noisy-amami-6173.backdrop.jp/MARKLALY" target="_blank"
                                rel="noopener noreferrer">Service</a></li>
                    </div>
                    <div class="flex-b">
                        <li><a href="news.html">News</a></li>
                        <li><a href="company.html">Company</a></li>
                        <li><a href="contact.html" class="lastA">Contact</a></li>
                    </div>
                </ul>
            </nav>
            <small>&copy;️SHU miyamura</small>
        </div>
    </footer>
    <script src="js/vue.min.js"></script>
    <script src="js/news.js" type="module"></script>
</body>

</html>
